@use '../abstract/variable' as var;

.navbar-main{
   background-color: #003459;
   display: flex;
   justify-content: space-between;
   padding: 1rem 2rem;
   color: white;
   font-weight: 500;

}
.navbar-main > a{
   text-decoration: none;
   color:white;
}
